export(OU.invgamma.like.norm)
export(OU.invgamma.sim.group)
export(OU.vcv)
export(compute.sqrt.dist)
export(dmvnorminvgamma)
export(dnorminvgamma)
export(good.groups)
export(mean_invgamma)
export(normalize.vcv)
export(norminvgamma.shift.like.norm)
export(norminvgamma.shift.sim.group)
export(plot_logfoldchange)
export(plot_wAICbarplot)
export(read.exp)
export(read.groups)
export(remove.from.genome)
export(rnorminvgamma)
export(test.groups)
export(test.subtrees)
export(var_invgamma)
import(ape,mvtnorm)
